* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Microsoft YaHei", sans-serif;
}

.mid-autumn {
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  .misic-container {
    .music-icon {
      width: 40px;
      height: 40px;
      position: absolute;
      left: 10px;
      top: 10px;
      z-index: 1999;
      border: 2px solid #fff;
      background: url('../images/audio.png') rgba(4, 4, 4, .32);
      background-repeat: no-repeat;
      background-size: 15px 30px;
      background-position: 50% 50%;
      border-radius: 50%;
      margin: 8px;
      &.music-icon-active {
        animation: clockwise-rotate 1s linear infinite;
      }
    }

  }

  .page_1 {
    position: absolute;
    background: #000;
    > div, > img {
      position: absolute;
      display: none;
      user-select: none;
    }
    .p1_bg {
      width: 100%;
      height: 100%;
      background: url("../images/p1_bg.jpg") no-repeat;
      background-size: 100% 100%;
      animation-name: fadeIn
    }
    .p1_moon {
      width: 80%;
      top: 10%;
      left: 10%;
      animation-name: fadeIn
    }
    .p1_benediction {
      width: 90%;
      top: 70%;
      left: 5%;
      animation-name: fadeIn;
      overflow: hidden;
      > img {
        width: 21%;
        padding: 0 2%;
        float: left;
        display: none;
        animation-name: fadeIn;
      }
      .p1_text1 {
        animation-delay: 400ms;
      }
      .p1_text2 {
        animation-delay: 800ms;
      }
      .p1_text3 {
        animation-delay: 1200ms;
      }
      .p1_text4 {
        animation-delay: 1600ms;
      }
    }
    .p1_meteors {
      width: 100%;
      height: 40%;
      animation-name: fadeIn;
      position: relative;
      > img{
        animation: meteor 5s ease-in infinite;
        animation-fill-mode: both;
        position:absolute;
      }
      .meteor1{
        top:0;
        left:0;
        animation-delay: 2100ms;
        animation-duration: 4500ms;
      }
      .meteor2{
        top:0;
        left:10%;
        animation-delay: 1700ms;
        animation-duration: 4140ms;
      }
      .meteor3{
        top:0;
        left:30%;
        animation-delay: 2640ms;
        animation-duration: 4300ms;
      }
      .meteor4{
        top:0;
        left:50%;
        animation-delay: 1320ms;
        animation-duration: 3700ms;
      }
      .meteor5{
        top:0;
        left:70%;
        animation-delay: 130ms;
        animation-duration: 5100ms;
      }
      .meteor6{
        top:0;
        left:90%;
        animation-delay: 70ms;
        animation-duration: 3910ms;
      }
    }
    .p1_next {
      width: 100%;
      height: 40px;
      bottom: 30px;
      animation-name: fadeIn;
      .p1_next_btn {
        display: block;
        width: 40px;
        height: 40px;
        margin: 0 auto;
        background: url("../images/up-arrow.png") no-repeat center center;
        background-size: 100% 100%;
        animation: guide-up 1s linear infinite;
      }
    }
  }
  .page_2 {
    position: absolute;
    background: url("../images/p2_bg.jpg");
    background-size: 100% 100%;
    animation-name: fadeInUp;
    display: none;
    > div, > a, > img {
      position: absolute;
      display: none;
    }
    .p2_message {
      width: 50%;
      height: 50%;
      top: 10%;
      left: 25%;
      font-size: 16px;
      color: #fff;
      writing-mode: vertical-lr;
      overflow: hidden;
      animation-name: fadeIn;
      .message-container {
        width: auto;
        height: auto;
        > p {
          line-height: 30px;
          letter-spacing: 9px;
        }
      }
    }
    .p2_sender {
      top: 20%;
      right: 0;
      width: 20%;
      height: 40%;
      font-size: 16px;
      color: #fff;
      writing-mode: vertical-lr;
      animation-name: fadeIn;
      > p {
        line-height: 30px;
        border: 0;
        letter-spacing: 6px;
      }
    }
    .p2_address_button {
      width: 80%;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      background: #e99b2b;
      text-decoration: none;
      color: #fff;
      letter-spacing: 3px;
      top: 65%;
      left: 10%;
      text-align: center;
      border-radius: 20px;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
      animation-name: fadeIn;
      z-index: 999;
      &:active, &:hover {
        background: #cc8012;
      }
    }
    .p2_head {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      top: 40%;
      right: 5%;
      animation-name: fadeIn;
      overflow: hidden;
      > img {
        width: 100%;
        height: auto;
      }
    }
    .p2_qrcode {
      width: 30%;
      bottom: 20px;
      left: 10px;
      animation-name: fadeIn;
    }
  }
  /* 模态框 */
  .p2_modal {
    top: 0;
    left: 0;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
    animation-name: fadeIn;
    animation-duration: 500ms;
  }
  .p2_modal_container {
    width: 80%;
    height: auto;
    position: absolute;
    display: none;
    top: 5%;
    left: 5%;
    padding: 5%;
    border-radius: 10px;
    background: #fff;
    z-index: 9999;
    animation-name: fadeIn;
    animation-duration: 500ms;
    form {
      ul, li {
        list-style: none;
      }
      p {
        font-size: 14px;
        margin-bottom: 6px;
        em {
          font-style: normal;
          color: #d62e29;
          margin-right: 5px;
        }
      }
      input, select {
        width: 94%;
        padding: 0 3%;
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 26px;
        border-bottom: 1px solid #ddd;
        outline: none;
      }
      select {
        width: 100%;
      }
      .err {
        width: 94%;
        padding: 0 3%;
        font-size: 14px;
        line-height: 18px;
        color: #d62e29;
        display: none;
      }
      .p2_modal_submit {
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        margin-top: 10px;
        font-size: 16px;
        background: #e99b2b;
        text-decoration: none;
        color: #fff;
        letter-spacing: 3px;
        text-align: center;
        border-radius: 20px;
        &:active, &:hover {
          background: #cc8012;
        }
      }
    }
  }
  .popup {
    display: none;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 16px;
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .6);
    z-index: 999;
    p {
      margin: 8px 15px;
    }
    &.fade-in {
      animation-name: fadeIn;
    }
    &.fade-out {
      animation-name: fadeOut;
    }
  }
}

/* firefly */
.jqueryFireFly {
  box-shadow: 0 0 10px #fff;
}

/* animates */
.show {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  display: block !important;
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0)
  }
  to {
    opacity: 1;
    transform: none
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0)
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none
  }
}

@keyframes guide-up {
  0% {
    transform: translate3d(0, 20px, 0);
    opacity: 0
  }
  60% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 0
  }
}

@keyframes clockwise-rotate {
  0% {
    transform: rotate(0)
  }
  25% {
    transform: rotate(90deg)
  }
  50% {
    transform: rotate(180deg)
  }
  75% {
    transform: rotate(270deg)
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes meteor {
  from {
    opacity: 1;
    transform: translate3d(100%, -100%, 0)
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0)
  }
}
